{{ define "body" }}
  <div class="reveal">
    <div class="slides">
      {{ range .Param "sections" }}
        <section>
          {{ $background := .background | default "bg_stars.gif" }}
          {{ range .slides }}
            <section
              {{ if .background }}
                data-background-image="/img/{{ .background }}"
                data-background-position='{{ .position | default "top" }}'
                data-background-size='{{ .size | default "cover" }}'
                {{ with .repeat }}
                  data-background-repeat="repeat"
                {{ end }}
              {{ else }}
                data-background-image="/img/{{ $background }}"
                data-background-size="auto"
                data-background-repeat="repeat"
              {{ end }}
            >
              <h1>
                {{ .content | markdownify }}
              </h1>
            </section>
          {{ end }}
        </section>
      {{ end }}
    </div>
  </div>
  <script src="/reveal.js"></script>
  <script>
    Reveal.initialize({
      history: true
    });

    function each(qs, cb) {
      if (typeof qs === "string") {
        qs = document.querySelectorAll(qs);
      }
      if (!qs) {
        return;
      }
      if (qs.length === undefined) {
        qs = [qs];
      }
      for (var i = 0; i < qs.length; i++) {
        cb(qs[i], i);
      }
    }

    function on(ev, qs, cb) {
      each(qs, function(el) {
        el.addEventListener(ev, cb);
      });
    }

    on("DOMContentLoaded", document, function() {
      // Open external links in new window
      each("a[href^=http]", function(el) {
        el.target = "_blank";
        el.rel = "noopener noreferrer";
      });
    });
  </script>
{{ end }}
